html, body {
    margin: 0;
    height: 100%;
}
body.popup {
    min-width:700px;
    max-height: 500px;
    overflow: hidden;
}
@-moz-document url-prefix() { /* Hack for firefox only CSS */
    html {
        overflow: hidden
    }
}
body {
    font-size:11px;
}
